@import url('variables.css');
@import url('clases.css');

body {
  font-family: var(--font-primary);
  padding-top: 100px;
}
.navbar-bakery{
  background:
    linear-gradient(#C17D44ef, #C17D44ef),
    url('../images/bg-pattern-bakery.jpg');
  /* Imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.menu-sticky {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.bakery-logo {
  width: 150px;
}

.banner {
  background:
    linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
    url('../images/bg-pattern-bakery.jpg');
  /* Imagen */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-title {
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 4rem);
  color: var(--primary-color);
}

.hero-subtitle {
  font-size: clamp(1rem, 5vw, 1.5rem);
  font-weight: 300;
  line-height: 1;
}

.btn-view-products {
  background-color: var(--secondary-color);
  color: var(--white-color);
  transition: transform 0.3s ease;
}

.btn-view-products:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: scale(1.1);
}

.btn-view-more {
  text-decoration: none;
  background-color: var(--secondary-color);
  color: var(--white-color);
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 6px;
  transition: transform 0.3s ease;
}

.btn-view-more:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
  transform: scale(1.1);
}

.nav-link {
  font-weight: 300;
  font-size: 1.2rem;
}

.section-featured,
.container-section {
  background-color: var(--primary-color);
  background:
    linear-gradient(#734300ef, #734300ef),
    /* Capa de color */
    url('../images/bg-pattern-bakery.jpg');
  /* Imagen */
  background-size: cover;
  background-position: center;
}

.container-section {
  margin-top: 50px;
}

.container-muffins {
  background-color: var(--primary-color);
  background:
    linear-gradient(#F1EBE4ef, #F1EBE4ef),
    /* Capa de color */
    url('../images/bg-pattern-bakery.jpg');
  /* Imagen */
  background-size: cover;
  background-position: center;
}

.title-featured {
  color: var(--white-color);
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 2.8rem);
}

.subtitle-featured {
  color: var(--white-color);
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 1.5rem);
}
.card-product{
  transition: transform 0.5s ease;
}
.card-product:hover{
  transform: translateY(-20px);
  z-index: 99;
}
.agregar-carrito{
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}
.agregar-carrito:hover{
  transform: scale(1.03);
}
.image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.image-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255,255,255,0) 0%,
    rgba(255,255,255,0.5) 50%,
    rgba(255,255,255,0) 100%
  );
  transform: skewX(-25deg);
  transition: left 0.7s;
  pointer-events: none;
}

.card-product:hover .image-wrapper::before {
  left: 125%;
  transition: left 0.7s;
}

.card-product-title {
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--primary-color);
}

.card-product-subtitle {
  font-weight: 300;
  font-size: 1.1rem;
}
.card-product-price{
  font-weight: 700;
  font-size: 1.5rem;
}
.title-section-1 {
  color: var(--white-color);
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.subtitle-section-1 {
  color: var(--white-color);
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 300;
}

.title-section-2 {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(2rem, 5vw, 2.5rem);
}
.subtitle-section-2{
  font-size: clamp(1rem, 5vw, 1.2rem);
  font-weight: 300;
}
.content-btn-products{
  margin-top: 50px;
  padding-bottom: 50px;
}
.container-footer{
  margin-top: 20px;
  background-color: var(--primary-color);
  background:
    linear-gradient(#734300ef, #734300ef),
    /* Capa de color */
    url('../images/bg-pattern-bakery.jpg');
  /* Imagen */
  background-size: cover;
  background-position: center;
}
.container-form-product{
  width: 100%;
}
.body-products{
  background-color: var(--white-color);;
}
.container-products{
  background:
    linear-gradient(#F1EBE4ef, #F1EBE4ef),
    /* Capa de color */
    url('../images/bg-pattern-bakery.jpg');
  /* Imagen */
  background-size: cover;
  background-position: center;
}

.hero-about{
  background: linear-gradient(#000000a9, #000000a9),
  url('../images/bg/pastel-saliendo-del-horno.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.title-about{
  font-size: clamp(2rem, 5vw, 3rem);
}
.subtitle-about{
  padding: 0 20px;
  font-size: clamp(1rem, 5vw, 1.3rem);
}
.my-list, .my-list-2{
  display: inline-block;
  text-align: left;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}
.text-header-about{
  background: linear-gradient(#734300ef, #734300ef),
  url('../images/bg-pattern-bakery.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px 0;
  border-radius: 5px;
  color: #fff;
}
.my-list > li{
  padding: 5px 0;
  list-style-image: url('../images/icons/chef.png');
  font-size: 1.2rem;
}
.my-list-2 > li{
  padding: 5px 0;
  list-style-image: url('../images/icons/check-24x.png');
  font-size: 1.2rem;
}
.p-about{
  font-size: 1.2rem;
  text-align: justify;
  hyphens: auto;
}
.title-contacto{
  font-size: clamp(2rem, 5vw, 3rem);
}
@media (min-width: 768px) {
  .menu-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  }
  .bakery-logo {
    width: 200px;
  }

  .container-section {
    margin-top: 20px;
  }
  .container-form-product{
  width: 70%;
  }
  .subtitle-about{
  padding: 0 50px;
  }
  .p-about{
  hyphens: none;
  }
}
@media (min-width: 1024px) {
  .container-form-product{
  width: 40%;
  }
  .subtitle-about{
  padding: 0 200px;
  }
}