@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root{
     --primary-color: #734300;
     --secondary-color: #C17D44;
     --third-color: #666A6F;
     --white-color: #F1EBE4;
     --primary-color-alpha: #7343006e;
     --font-primary: "Comfortaa", sans-serif;/*"Dosis", sans-serif;*/
}